@model IEnumerable<WebApp.Models.Book>

@{
    ViewData["Title"] = "FindBook";
}


<br />
<br />
<br />
<br />
<br />

<div class="container-fluid">
    <div class="row mb-30">
        <div class="col-md-12">
            <h2 class="main-title">Featured Documents</h2>
        </div>

        @foreach (var item in Model)
        {
            <!--  %String m1= "C:\\Users\\admi\\Desktop\\site_jee\\"+rs.getString(2).replaceAll(" ", "-")+".jpg"; %> -->
            <div class="col-lg-2 col-md-3 col-xs-6">
                <div class="note">
                    <div class="note-meta-thumb">
                        <a href="C:\Users\admi\Desktop\site_jee\think-like-a-man.pdf">
                            <img src="~/Images/@Url.Content(item.Adress)" alt="Advanced Grammar in Use with Answers" />
                            <h3 class="note-title"> @Html.DisplayFor(modelItem => item.Title)</h3>
                        </a>
                    </div>
                    <div class="note-action">
                        <a class="more-link" asp-action="Details" asp-route-id="@item.Id">Read more</a>&emsp;&emsp;&emsp;&nbsp;<br>
                        <a  asp-action="AddPanier" asp-route-id="@item.Id">Add to Packet</a>&emsp;@Html.DisplayFor(modelItem => item.Price)DH&emsp;
                    </div>
                </div>
            </div>

        }

    </div>

    <nav class="text-center">

        <h3>thanks</h3>
    </nav>
</div>